@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

/* @font-face {
  font-family: "CommunityPro", sans-serif;
  font-style: normal;
  font-weight: 200 900;
  src: url("/fonts/CommunityPro.ttf") format("truetype");
} */

@theme {
  --color-gray-50: rgb(255 255 255);
  --color-gray-900: rgb(16 24 40);
  --color-gray-800: rgb(29 41 57);
  --color-gray-700: rgb(52 64 84);
  --color-gray-600: rgb(71 84 103);
  --color-gray-500: rgb(102 112 133);
  --color-gray-400: rgb(152 162 179);
  --color-gray-300: rgb(212 219 234);
  --color-gray-200: rgb(240 244 253);
  --color-gray-100: rgb(249 251 254);
  --color-text-white: rgb(255 255 255);
  --color-text-white-stroke: rgb(152 162 179);
  --color-text-tertiary: rgb(156 156 156);
  --color-text-secondary: rgb(119 122 126);
  --color-text-primary: rgb(17 17 17);
  --color-primary-900-main: rgb(0 0 0);
  --color-primary-850: rgb(12 12 12);
  --color-primary-800: rgb(26 26 26);
  --color-primary-700: rgb(51 51 51);
  --color-primary-600: rgb(77 77 77);
  --color-primary-500: rgb(102 102 102);
  --color-primary-400: rgb(128 128 128);
  --color-primary-300: rgb(153 153 153);
  --color-primary-200: rgb(179 179 179);
  --color-primary-100: rgb(204 204 204);
  --color-primary-50: rgb(230 230 230);
  --color-error-900: rgb(122 39 26);
  --color-error-800: rgb(145 32 24);
  --color-error-700: rgb(180 35 24);
  --color-error-600: rgb(217 45 32);
  --color-error-500: rgb(240 68 56);
  --color-error-400: rgb(249 112 102);
  --color-error-300: rgb(253 162 155);
  --color-error-200: rgb(254 228 226);
  --color-error-100: rgb(254 240 239);
  --color-error-50: rgb(254 246 245);
  --color-warning-900: rgb(147 55 13);
  --color-warning-800: rgb(181 71 8);
  --color-warning-700: rgb(220 104 3);
  --color-warning-600: rgb(247 144 9);
  --color-warning-500: rgb(253 176 34);
  --color-warning-400: rgb(254 200 75);
  --color-warning-300: rgb(254 223 137);
  --color-warning-200: rgb(254 240 199);
  --color-warning-100: rgb(255 250 235);
  --color-warning-50: rgb(255 252 245);
  --color-success-900: rgb(5 79 49);
  --color-success-800: rgb(5 96 58);
  --color-success-700: rgb(2 122 72);
  --color-success-600: rgb(18 183 106);
  --color-success-500: rgb(50 213 131);
  --color-success-400: rgb(108 233 166);
  --color-success-300: rgb(166 244 197);
  --color-success-200: rgb(209 250 223);
  --color-success-100: rgb(236 253 243);
  --color-success-50: rgb(246 254 249);
  --color-info-900: rgb(6 89 134);
  --color-info-800: rgb(23 105 170);
  --color-info-700: rgb(0 134 201);
  --color-info-600: rgb(11 165 236);
  --color-info-500: rgb(54 191 250);
  --color-info-400: rgb(124 212 253);
  --color-info-300: rgb(185 230 254);
  --color-info-200: rgb(224 242 254);
  --color-info-100: rgb(237 247 254);
  --color-info-50: rgb(245 251 254);

  --font-community-pro: var(--font-community-pro);

  --text-display-1-light: 72px;
  --text-display-1-light--line-height: 1.2000000476837158;
  --text-display-1-light--letter-spacing: -4em;
  --text-display-1-light--font-weight: Light;

  --text-display-1-regular: 72px;
  --text-display-1-regular--line-height: 1.2000000476837158;
  --text-display-1-regular--letter-spacing: -4em;
  --text-display-1-regular--font-weight: Regular;

  --text-display-1-medium: 64px;
  --text-display-1-medium--line-height: 1.2000000476837158;
  --text-display-1-medium--letter-spacing: -4em;
  --text-display-1-medium--font-weight: Medium;

  --text-display-1-bold: 72px;
  --text-display-1-bold--line-height: 1.2000000476837158;
  --text-display-1-bold--letter-spacing: -4em;
  --text-display-1-bold--font-weight: Bold;

  --text-display-2-regular: 54px;
  --text-display-2-regular--line-height: 1.2000000476837158;
  --text-display-2-regular--letter-spacing: -3%;
  --text-display-2-regular--font-weight: Regular;

  --text-display-2-medium: 54px;
  --text-display-2-medium--line-height: 1.2000000476837158;
  --text-display-2-medium--letter-spacing: -3%;
  --text-display-2-medium--font-weight: Medium;

  --text-display-2-bold: 54px;
  --text-display-2-bold--line-height: 1.2000000476837158;
  --text-display-2-bold--letter-spacing: -3%;
  --text-display-2-bold--font-weight: Bold;

  --text-display-2-light: 54px;
  --text-display-2-light--line-height: 1.2000000476837158;
  --text-display-2-light--letter-spacing: -3%;
  --text-display-2-light--font-weight: Light;

  --text-heading-1-regular: 48px;
  --text-heading-1-regular--line-height: 1.2000000476837158;
  --text-heading-1-regular--letter-spacing: -3%;
  --text-heading-1-regular--font-weight: Regular;

  --text-heading-1-medium: 48px;
  --text-heading-1-medium--line-height: 1.2000000476837158;
  --text-heading-1-medium--letter-spacing: -3%;
  --text-heading-1-medium--font-weight: Medium;

  --text-heading-1-bold: 48px;
  --text-heading-1-bold--line-height: 1.2000000476837158;
  --text-heading-1-bold--letter-spacing: -3%;
  --text-heading-1-bold--font-weight: Bold;

  --text-heading-1-light: 48px;
  --text-heading-1-light--line-height: 1.2000000476837158;
  --text-heading-1-light--letter-spacing: -3%;
  --text-heading-1-light--font-weight: Regular;

  --text-heading-2-regular: 38px;
  --text-heading-2-regular--line-height: 1.2000000476837158;
  --text-heading-2-regular--letter-spacing: -2%;
  --text-heading-2-regular--font-weight: Regular;

  --text-heading-2-medium: 38px;
  --text-heading-2-medium--line-height: 1.2000000476837158;
  --text-heading-2-medium--letter-spacing: -2%;
  --text-heading-2-medium--font-weight: Medium;

  --text-heading-2-bold: 38px;
  --text-heading-2-bold--line-height: 1.2000000476837158;
  --text-heading-2-bold--letter-spacing: -2%;
  --text-heading-2-bold--font-weight: Bold;

  --text-heading-2-light: 38px;
  --text-heading-2-light--line-height: 1.2000000476837158;
  --text-heading-2-light--letter-spacing: -2%;
  --text-heading-2-light--font-weight: Light;

  --text-heading-3-regular: 32px;
  --text-heading-3-regular--line-height: 1.2000000476837158;
  --text-heading-3-regular--letter-spacing: -2%;
  --text-heading-3-regular--font-weight: Regular;

  --text-heading-3-medium: 32px;
  --text-heading-3-medium--line-height: 1.2000000476837158;
  --text-heading-3-medium--letter-spacing: -2%;
  --text-heading-3-medium--font-weight: Medium;

  --text-heading-3-bold: 32px;
  --text-heading-3-bold--line-height: 1.2000000476837158;
  --text-heading-3-bold--letter-spacing: -2%;
  --text-heading-3-bold--font-weight: Bold;

  --text-heading-3-light: 32px;
  --text-heading-3-light--line-height: normal;
  --text-heading-3-light--letter-spacing: -2%;
  --text-heading-3-light--font-weight: Light;

  --text-heading-4-regular: 28px;
  --text-heading-4-regular--line-height: 1.2000000476837158;
  --text-heading-4-regular--letter-spacing: -2%;
  --text-heading-4-regular--font-weight: Regular;

  --text-heading-4-medium: 28px;
  --text-heading-4-medium--line-height: 1.2000000476837158;
  --text-heading-4-medium--letter-spacing: -2%;
  --text-heading-4-medium--font-weight: Medium;

  --text-heading-4-bold: 28px;
  --text-heading-4-bold--line-height: 1.2000000476837158;
  --text-heading-4-bold--letter-spacing: -2%;
  --text-heading-4-bold--font-weight: Bold;

  --text-heading-4-light: 28px;
  --text-heading-4-light--line-height: 1.2000000476837158;
  --text-heading-4-light--letter-spacing: -2%;
  --text-heading-4-light--font-weight: Light;

  --text-heading-5-regular: 24px;
  --text-heading-5-regular--line-height: 1.2000000476837158;
  --text-heading-5-regular--letter-spacing: -2%;
  --text-heading-5-regular--font-weight: Regular;

  --text-heading-5-medium: 24px;
  --text-heading-5-medium--line-height: 1.2000000476837158;
  --text-heading-5-medium--letter-spacing: -2%;
  --text-heading-5-medium--font-weight: Medium;

  --text-heading-5-bold: 24px;
  --text-heading-5-bold--line-height: 1.2000000476837158;
  --text-heading-5-bold--letter-spacing: -2%;
  --text-heading-5-bold--font-weight: Bold;

  --text-heading-5-light: 24px;
  --text-heading-5-light--line-height: 1.2000000476837158;
  --text-heading-5-light--letter-spacing: -2%;
  --text-heading-5-light--font-weight: Light;

  --text-heading-6-regular: 20px;
  --text-heading-6-regular--line-height: 1.2000000476837158;
  --text-heading-6-regular--letter-spacing: -2%;
  --text-heading-6-regular--font-weight: Regular;

  --text-heading-6-medium: 20px;
  --text-heading-6-medium--line-height: 1.2000000476837158;
  --text-heading-6-medium--letter-spacing: -2%;
  --text-heading-6-medium--font-weight: Medium;

  --text-heading-6-bold: 20px;
  --text-heading-6-bold--line-height: 1.2000000476837158;
  --text-heading-6-bold--letter-spacing: -2%;
  --text-heading-6-bold--font-weight: Bold;

  --text-heading-6-light: 20px;
  --text-heading-6-light--line-height: 1.2000000476837158;
  --text-heading-6-light--letter-spacing: -2%;
  --text-heading-6-light--font-weight: Light;

  --text-body-1-regular: 18px;
  --text-body-1-regular--line-height: 1.399999976158142;
  --text-body-1-regular--letter-spacing: -2%;
  --text-body-1-regular--font-weight: Regular;

  --text-body-1-medium: 18px;
  --text-body-1-medium--line-height: 1.399999976158142;
  --text-body-1-medium--letter-spacing: -2%;
  --text-body-1-medium--font-weight: Medium;

  --text-body-1-bold: 18px;
  --text-body-1-bold--line-height: 1.399999976158142;
  --text-body-1-bold--letter-spacing: -2%;
  --text-body-1-bold--font-weight: Bold;

  --text-body-1-light: 18px;
  --text-body-1-light--line-height: 1.399999976158142;
  --text-body-1-light--letter-spacing: -2%;
  --text-body-1-light--font-weight: Light;

  --text-body-2-regular: 16px;
  --text-body-2-regular--line-height: 1.399999976158142;
  --text-body-2-regular--letter-spacing: -2%;
  --text-body-2-regular--font-weight: Regular;

  --text-body-2-medium: 16px;
  --text-body-2-medium--line-height: 1.399999976158142;
  --text-body-2-medium--letter-spacing: -2%;
  --text-body-2-medium--font-weight: Medium;

  --text-body-2-bold: 16px;
  --text-body-2-bold--line-height: 1.399999976158142;
  --text-body-2-bold--letter-spacing: -2%;
  --text-body-2-bold--font-weight: Bold;

  --text-body-2-light: 16px;
  --text-body-2-light--line-height: normal;
  --text-body-2-light--letter-spacing: -2%;
  --text-body-2-light--font-weight: Light;

  --text-caption-1-regular: 14px;
  --text-caption-1-regular--line-height: 1.399999976158142;
  --text-caption-1-regular--letter-spacing: -2%;
  --text-caption-1-regular--font-weight: Regular;

  --text-caption-1-medium: 14px;
  --text-caption-1-medium--line-height: 1.399999976158142;
  --text-caption-1-medium--letter-spacing: -2%;
  --text-caption-1-medium--font-weight: Medium;

  --text-caption-1-bold: 14px;
  --text-caption-1-bold--line-height: 1.399999976158142;
  --text-caption-1-bold--letter-spacing: -2%;
  --text-caption-1-bold--font-weight: Bold;

  --text-caption-1-light: 14px;
  --text-caption-1-light--line-height: 1.2000000476837158;
  --text-caption-1-light--letter-spacing: -2%;
  --text-caption-1-light--font-weight: Light;

  --text-caption-2-regular: 12px;
  --text-caption-2-regular--line-height: normal;
  --text-caption-2-regular--letter-spacing: -1em;
  --text-caption-2-regular--font-weight: Regular;

  --text-caption-2-medium: 12px;
  --text-caption-2-medium--line-height: normal;
  --text-caption-2-medium--letter-spacing: -1em;
  --text-caption-2-medium--font-weight: Medium;

  --text-caption-2-bold: 12px;
  --text-caption-2-bold--line-height: normal;
  --text-caption-2-bold--letter-spacing: -1em;
  --text-caption-2-bold--font-weight: Bold;

  --text-caption-2-light: 12px;
  --text-caption-2-light--line-height: normal;
  --text-caption-2-light--letter-spacing: -1em;
  --text-caption-2-light--font-weight: Light;

  --text-overline-1-regular: 12px;
  --text-overline-1-regular--line-height: normal;
  --text-overline-1-regular--letter-spacing: 12em;
  --text-overline-1-regular--font-weight: Regular;

  --text-overline-1-medium: 12px;
  --text-overline-1-medium--line-height: normal;
  --text-overline-1-medium--letter-spacing: 12em;
  --text-overline-1-medium--font-weight: Medium;

  --text-overline-1-bold: 12px;
  --text-overline-1-bold--line-height: normal;
  --text-overline-1-bold--letter-spacing: 12em;
  --text-overline-1-bold--font-weight: Bold;

  --text-overline-1-light: 12px;
  --text-overline-1-light--line-height: normal;
  --text-overline-1-light--letter-spacing: 12em;
  --text-overline-1-light--font-weight: Light;

  --text-overline-2-regular: 10px;
  --text-overline-2-regular--line-height: normal;
  --text-overline-2-regular--letter-spacing: 12em;
  --text-overline-2-regular--font-weight: Regular;

  --text-overline-2-medium: 10px;
  --text-overline-2-medium--line-height: normal;
  --text-overline-2-medium--letter-spacing: 12em;
  --text-overline-2-medium--font-weight: Medium;

  --text-overline-2-bold: 10px;
  --text-overline-2-bold--line-height: normal;
  --text-overline-2-bold--letter-spacing: 12em;
  --text-overline-2-bold--font-weight: Bold;

  --text-overline-2-light: 12px;
  --text-overline-2-light--line-height: normal;
  --text-overline-2-light--letter-spacing: 12em;
  --text-overline-2-light--font-weight: Light;
}

@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading="lazy"] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

